<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="BotToken" value="6002834470:AAFNUN4f-nkkfl8QNZUkC9OqxJku46B1aM4"/>
	</appSettings>
	
	<connectionStrings>
		<add name="DbConn" connectionString="Server=DESKTOP-G5OVJJN;Database=SsbotDb;Trusted_Connection=True;" />
	</connectionStrings>
	
</configuration>